h1, ul, li {
    font-family:"TimesNewRoman";
}

div {
    background-color:rgba(251,250,254,1.0);
    height:650px;
    max-height:100%;
}

header {
    max-width:100%;
    width:100%;
    background-color:rgba(188,177,226,1.0);
    position:fixed;
    top:0;
    left:0;
}

header h1 {
    color:white;
    text-align:center;
    padding:40px auto;
    font-size:50px;
}

header img {
    position:fixed;
    left:0;
    top:0;
    width:11em;
    height:7em;
}

ul {
    padding:30px;
    margin-top:20px;
    list-style-type: none;
    max-width:100%;
    position:relative;
}

li {
    font-size:25px;
    margin:30px;
    color:#414141;
    font-weight:bolder;
    display:flex;
}

label {
    flex:0.5;
    text-align:left;
}

li input {
    font-size:25px;
    font-family:"timesnewroman";
    margin:auto 20px;
    border-radius:10px;
    width:35%;
    padding:5px;
    flex:1;
}

#submit {
    border:5px double rgb(119, 96, 205);
    border-radius: 10px;
    font-size:24px;
    margin:40px auto;
    background-color:rgba(135,116,203,1.0);
    color:white;
    font-family:"TimesNewRoman";
    padding:8px 120px;
    font-weight:bold;
    position:absolute;
    right:20px;
}