div {
    background-color: rgba(251, 250, 254, 1);
    height: 800px;
    width:100%;
    text-shadow:1px 1px rgb(235, 228, 255);
  }

ul {
    margin-top:130px;
    padding:2px;
}

li {
    display: block;
    margin: 0px;
    margin-top:1px;
    padding: 5px;
    padding-top:15px;
    padding-bottom:15px;
    border: 2px solid rgb(119, 96, 205);
    position:relative;
}

li.button {
    display: block;
    border: none;
    margin: 0;
    margin-top:90px;
    padding: 0;
    position:sticky;
    top: 230px;
    z-index: 2;
}

button {
    position:absolute;
    right:20px;
    bottom:10px;
    border: 5px double white;
    border-radius: 20px;
    font-size: 27px;
    width: 30%;
    height:50px;
    background-color: rgba(135, 116, 203, 1);
    color: white;
    font-family: "TimesNewRoman";
    font-weight: bold;
    margin-bottom: 20px;
}

button img {
    height:1em;
    width:1.3em;
    position:absolute;
    top:7px;
    right:15px;
}

button:hover {
    cursor:pointer;
    border:5px double rgb(119, 96, 205);
}

li label {
    font-size:22px;
    font-family:"TimesNewRoman";
    color:#414141;
    font-weight:bolder;
    line-height: 38px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

li label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: -10%;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.7em;
  }

  .checkbox:checked + label::before {
    border-color: rgb(119, 96, 205);
    background-color: rgb(119, 96, 205);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  li span.price {
    font-size:22px;
    font-family:"TimesNewRoman";
    color:#414141;
    font-weight:bolder;
    line-height: 38px;
    position:absolute;
    right:25px;
    font-style: italic;
  }